body {
    font-family: 'Inter', sans-serif;
}

/* Custom CSS to remove blue color and other styles */
.theme-icon {
    color: inherit; /* Inherit the color from the parent (removes the blue color) */
    text-decoration: none !important; /* Remove text decoration, important is used to override Bootstrap styles */
}
